{:paths ["src" "resources"]
 :tasks
 {test:bb {:doc "Run bb tests"
           :extra-paths ["test"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :task (do (println "Babashka tests:")
                     (exec 'cognitect.test-runner.api/test))
           :exec-args {:dirs ["test"]}
           :org.babashka/cli {:coerce {:nses [:symbol]
                                       :vars [:symbol]}}}
  clerk {:task (clojure "-M:nextjournal/clerk nextjournal.clerk/serve! --watch-paths src --port 7878 --browse")}}}
